{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">

<div id="vehicleCarousel" class="carousel slide" data-bs-ride="false">

    <div class="carousel-inner">
        <div class="photo-counter">
            📷 <span id="currentPhoto">1</span> / {{ vehicle.images.count }}
        </div>
        {% for img in vehicle.images.all %}

        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ img.image.url }}"
                 class="d-block w-100 vehicle-image rounded shadow">
        </div>

        {% empty %}

        <div class="carousel-item active">
            <img src="{% static 'images/no-image.png' %}"
                 class="d-block w-100 vehicle-image rounded shadow">
        </div>

        {% endfor %}

    </div>

    {% if vehicle.images.count > 1 %}

    <button class="carousel-control-prev custom-arrow"
            type="button"
            data-bs-target="#vehicleCarousel"
            data-bs-slide="prev">

        <span>&#10094;</span>

    </button>

    <button class="carousel-control-next custom-arrow"
            type="button"
            data-bs-target="#vehicleCarousel"
            data-bs-slide="next">

        <span>&#10095;</span>

    </button>

    {% endif %}

</div>

<div class="modal fade" id="imageModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-dark">

      <div class="modal-body d-flex align-items-center justify-content-center">

        <div id="modalCarousel" class="carousel slide" data-bs-touch="true">

          <div class="carousel-inner text-center">

            <!-- Image principale -->
          {% for img in vehicle.images.all %}

          <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ img.image.url }}"
                   class="d-block w-100 rounded shadow zoom-img vehicle-image">
          </div>

          {% empty %}

          <div class="carousel-item active">
              <img src="{% static 'images/no-image.png' %}"
                   class="d-block w-100 rounded shadow vehicle-image">
          </div>

          {% endfor %}
            
          </div>

          <!-- Navigation -->
          <button class="carousel-control-prev" type="button" data-bs-target="#modalCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#modalCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>

        </div>

      </div>

    </div>
  </div>
</div>


<div class="col-md-6">

<h2>
{{ vehicle.marque }} {{ vehicle.modele }}
</h2>

<h3 class="text-success mb-4">
{{ vehicle.prix|floatformat:0 }} millions
</h3>

<ul class="list-group mb-4">

<li class="list-group-item">
Année : {{ vehicle.annee }}
</li>

<li class="list-group-item">
Kilométrage : {{ vehicle.kilometrage }} km
</li>

<li class="list-group-item">
Carburant : {{ vehicle.carburant }}
</li>

<li class="list-group-item">
Transmission : {{ vehicle.transmission }}
</li>

</ul>

<p>
{{ vehicle.description }}
</p>

<a href="https://wa.me/213799162149"
class="btn btn-success btn-lg">
Contacter WhatsApp
</a>

</div>

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const carousel = document.querySelector("#vehicleCarousel");

    if (!carousel) return;

    carousel.addEventListener("slid.bs.carousel", function () {

        let active = carousel.querySelector(".carousel-item.active");

        let items = [...carousel.querySelectorAll(".carousel-item")];

        let index = items.indexOf(active);

        document.getElementById("currentPhoto").textContent = index + 1;

    });

});
</script>

{% endblock %}